html, body {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    background-size: cover;
    background-position: center;
    text-align: center;
    font-family:'Roboto Slab', serif;
    overflow: hidden;
}
.button {
    height: 100px;
    width: 250px;
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
    top: 15%;
    left: 50%;
    margin-left: -255px;
    background: rgba(230, 225, 225, 0.65);
    font: 66px Trebuchet MS, Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: absolute;
 
}

.next {
    height: 100px;
    width: 250px;
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
    top: 23%;
    left: 50%;
    margin-left: -255px;
    background: rgba(230, 225, 225, 0.65);
    font: 66px Trebuchet MS, Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: absolute;

}
#text{
    margin-top: 5%;
    vertical-align: middle;
    font-size: 80px;
    color: white;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
    -webkit-text-stroke-width: 2.5px;
    -webkit-text-stroke-color: black;

}
#timer{
    margin-top: 60%;
    vertical-align: middle;
    font-size: 80px;
    color: white;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
    -webkit-text-stroke-width: 2.5px;
    -webkit-text-stroke-color: black;

}
#time {
    height: 94px;
    width: 242px;
    top: 15%;
    left: 80%;
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
    margin-left: -255px;
    background: rgb(230, 225, 225, 0.85);
    font: 66px Trebuchet MS, Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: absolute;
    text-align: center;
    
}

.min {
        height: 50px;
        width: 125px;
        top: 23%;
        left: 80%;
        margin-left: -255px;
        background: rgba(230, 225, 225, 0.65);
        position: absolute;
        font: 30px Trebuchet MS, Arial, Helvetica, sans-serif;
        font-weight: bold;
       
      
}
.onehalf {
        height: 50px;
        width: 125px;
        top: 23%;
        left: 93%;
        margin-left: -255px;
        background: rgba(230, 225, 225, 0.65);
        position: absolute;
        font: 30px Trebuchet MS, Arial, Helvetica, sans-serif;
        font-weight: bold;
      
}

.Reset {
        height: 50px;
        width: 250px;
        top: 26%;
        left: 80%;
        margin-left: -255px;
        background: rgba(230, 225, 225, 0.65);
        position: absolute;
        font: 30px Trebuchet MS, Arial, Helvetica, sans-serif;
        font-weight: bold;
     
     
        
}

