html {
  -webkit-text-size-adjust: 100%;
   text-size-adjust: 100%;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #346C70;
    background-size: cover;
    background-position: center;
    text-align: center;
    font-family:'Roboto Slab', serif;
    overflow: hidden;
  
}

button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


body {
    margin-top: 1px;
    margin-right: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
    position: fixed;
}
#minus {
    height: 8%;
    width: 16.5%;
    top: 28%;
    left: 10%;
    margin-top: 1px;
    margin-right: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
    font: 40px Trebuchet MS, Arial, Helvetica, sans-serif;
    position: absolute;
    font-weight: bold;
    color: white;
    box-shadow: 1px -3px rgb(0,0,0) inset;
   
}

#plus {
    height: 8%;
    width: 16.5%;
    top: 28%;
    left: 28.5%;
    margin-top: 1px;
    margin-right: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
    font: 40px Trebuchet MS, Arial, Helvetica, sans-serif;
    position: absolute;
    font-weight: bold;
    color: white;
    box-shadow: 1px -3px rgb(0,0,0) inset;  
}

#play {
    height: 8%;
    width: 35%;
    top: 19%;
    left: 10%;
    margin-top: 1px;
    margin-right: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
    position: absolute;
    font: 60px Trebuchet MS, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
   
    box-shadow: 2px -3px rgb(0,0,0) inset;
   
}

#text{
    margin-top: 10%;
    vertical-align: middle;
    font-size: 75px;
    color: #e4e4e4;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
    position: relative;
    top: 25%;
}
#timer{
    display: inline-block;
    vertical-align: middle;
    font-size: 6em;
    color: #e4e4e4;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
    position: relative;
    top: 4em;
   

}
#timerInput {
    display: none;
}

#total{
    margin-top: 5%;
    vertical-align: middle;
    font-size: 80px;
    color: white;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
    -webkit-text-stroke-width: 2.5px;
    -webkit-text-stroke-color: black;
    position: relative;
    top: 25%;
}
#min {
        height: 8%;
        width: 16.5%;
        top: 19%;
        left: 55%;
        margin-top: 1px;
        margin-right: 1px;
        margin-bottom: 1px;
        margin-left: 1px;
        position: absolute;
        font: 40px Trebuchet MS, Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: white;
        text-decoration: none;
        border-radius: 3px;
        box-shadow: 1px -3px rgb(0,0,0) inset;
        transition: 0.2s;
        text-align: center;
}
#onehalf {
        height: 8%;
        width: 16.5%;
        top: 19%;
        left: 73.5%;
        margin-top: 1px;
        margin-right: 1px;
        margin-bottom: 1px;
        margin-left: 1px;
        position: absolute;
        font: 40px Trebuchet MS, Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: white;
        text-decoration: none;
        border-radius: 3px;
        box-shadow: 1px -3px rgb(0,0,0) inset;
        transition: 0.2s;
}
button {
   background-color:  #57B6BD;
}
#reset {
        height: 8%;
        width: 35%;
        top: 28%;
        left: 55%;
        margin-top: 1px;
        margin-right: 1px;
        margin-bottom: 1px;
        margin-left: 1px;
        position: absolute;
        font: 40px Trebuchet MS, Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: white;
        text-decoration: none;
        border-radius: 3px;
        background: rgb(210 102 102);
        box-shadow: 1px -3px rgb(0,0,0) inset;
        transition: 0.2s;
     
        
}

#name {
    font-size: 45px;
    font-family: 'Nerko One', cursive;
    margin-top: 3%;
    color: #352121;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 150px;
}

#endwindow {
    width: 95%;
    height: 60%;
    text-align: center;
    padding: 15px;
    border: 3px solid #352121;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: linear-gradient(rgba(0,0,0,0.5), 
        rgba(0,0,0,0.5)), url(logo_2.png);
    background-position: center;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
}
    
}
#endwindow:target {display: block;}

#endtext {
    font-size: 75px;
    font-family: 'Nerko One', cursive;
    font-weight: 700;
    color: #e4e4e4;
    margin-top: 20%;

}


#endbutton {
    height: 80px;
    width: 25.5%;
    top: 19%;
    margin-top: 30%;
    margin-right: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
    font: 40px Trebuchet MS, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    box-shadow: 1px -3px rgb(0,0,0) inset;
    transition: 1.2s;
}

#menu {
    display: none;
    width: 95%;
    height: 60%;
    text-align: center;
    padding: 15px;
    border: 3px solid #352121;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
    background-color: #346C70;
    font-size: 75px;
    font-family: 'Nerko One', cursive;
    color: #e4e4e4;
}   
#resstartBtn {
    height: 15%;
    width: 35%;
    top: 75%;
    left: 57.5%;
    margin-top: 1px;
    margin-right: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
    position: absolute;
    font: 60px Trebuchet MS, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;  
    box-shadow: 2px -3px rgb(0,0,0) inset;
    background-color:  red;
}
#continueBtn {
    height: 15%;
    width: 35%;
    top: 75%;
    left: 12%;
    margin-top: 1px;
    margin-right: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
    position: absolute;
    font: 60px Trebuchet MS, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;  
    box-shadow: 2px -3px rgb(0,0,0) inset;
    background-color:  blue;
}

#teams {
    margin: 15px;
    padding: 15px;
}

#teamDolphin {
    float: left;
}

#teamKoyot {
    float: right;
}

#pointsOfRound {
    font-size: 35px;
    float: left;
}

label {
  margin-right: 15px;
  line-height: 32px;
  font-size: 32px;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: 2px solid #999;
  transition: 1.2s all linear;
  outline: none;
  position: relative;
  top: 4px;
}

input:checked {
  border: 14px solid black;
}
#dolphinTeam {
    float: left;
    margin-left: 5%;
}
#koyotTeam {
    float: right;
    margin-right: 5%;
}
